<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripaway">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tripaway">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRNgB1phbFiZBDgC99nXcFrYmXowzlaB8" />
        <!--            android:value1="AIzaSyDzTHI4DXKFwrM0xAzwnI-Brz1_3UkcL7g"-->

        <!-- Don't use my api key, it will not work for you.-->



        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
<!--        <activity android:name=".TwitterActivity"></activity>-->
        <activity android:name=".ForgotPassActivity" />
        <activity
            android:name=".AlertDialogue"
            android:exported="true"
            android:theme="@style/AlertDialogMy" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".EditTripActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".UpcomingTripsActivity" />
        <activity
            android:name=".Splash"
            android:exported="true" />
        <activity
            android:name=".NewTripActivity"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".HomeScreenActivity"
            android:exported="true"
            android:label="@string/title_activity_home_screen2"
            android:theme="@style/Theme.Tripaway.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ui.Upcoming.FloatingWidgetActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.Upcoming.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>